.section4 {
    background-color: black;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer{
    width: 130px;
    margin-top: 120px;
    
}

.contact h1{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 85px 0px 40px 0px;
}

.contact p {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #c2c1c1 ;
}