.projets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}





.projet1,
.projet2,
.projet3,
.projet4 {
  position: relative;
  width: 96%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #2e2a29;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-left: 0px;
  border: 1px solid #eec567;
  box-shadow: 0 30px 40px 0 rgb(145 150 203 / 20%);
}

.ProjetImages {
  width: 101%;
}

.zoom {
  overflow: hidden;
}

.zoom .ImgZoom {
  transition: transform .9s ease;
}

.zoom:hover .ImgZoom {
}

.filtre {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border-radius: 20px;
}

.filtre:hover {
  opacity: 100;
}

.bg {
  background: linear-gradient(10deg, rgba(0, 0, 0, 0.8), rgba(63, 63, 63, 0.5));
  transition: ease-out 0.5s;
}

/* --------------- 1er section --------------- */



.projet1 h3 {
  margin-top: 30px;
  margin-bottom: 14px;
}

.projet1 p {
  text-align: center;
  margin-bottom: 25px;
}


/*--------------- 2eme section --------------- */

.projet2 h3 {
  margin-top: 20px;
  margin-bottom: 14px;
}

.projet2 p {
  text-align: center;
  margin-bottom: 25px;
}


/*--------------- 3eme section --------------- */


.projet3 h3 {
  margin-top: 20px;
  margin-bottom: 14px;
}

.projet3 p {
  text-align: center;
  margin-bottom: 25px;
}

/*--------------- 4eme section --------------- */

.projet4 h3 {
  margin-top: 20px;
  margin-bottom: 14px;
}

.projet4 p {
  text-align: center;
  margin-bottom: 25px;
}

/*--------------- Boutton Projet --------------- */

/* 
a.btn-projet{
    background-color: #B6974D; 
     width: 143px;
    color: #fff !important;
    border-radius: 500px;
    border: 2px solid;
    border-color: #B6974D;
    padding: 10px 24px;
  }

  .btn-projet:hover{
    background-color: transparent;
    border-color: #B6974D;
    color: #B6974D!important;
  } */

.btn-projet {
  background-color: transparent;
  width: 143px;
  color: #ffd36c !important;
  border-radius: 500px;
  border: 2px solid;
  border-color: #dfb960;
  padding: 10px 24px;
  margin-bottom: 20px;
}

.btn-projet:hover {
  background-color: #B6974D;
  border-color: #B6974D;
  color: #fff !important;
}
