.projets{
    padding-right: 15px;
    padding-left: 15px;
}





.projet1, .projet2, .projet3, .projet4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c2c1c1;
    background: #2e2a29;
    border-radius: 20px;
    padding: 30px 14px;
    margin-bottom: 15px;
    border: 1px solid #eec567;
    box-shadow: 0 30px 40px 0 rgb(145 150 203 / 20%);
}

/* --------------- 1er section --------------- */

.projet1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6)), url(../assets/Images/Projet_Restaurant.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.projet1 h3{
    margin-bottom: 14px;
}
.projet1 p{
    text-align: center;
    margin-bottom: 25px;
}


/*--------------- 2eme section --------------- */


.projet2 h3{
    margin-top: 20px;
    margin-bottom: 14px;
}
.projet2 p{
    text-align: center;
    margin-bottom: 25px;
}


/*--------------- 3eme section --------------- */


.projet3 h3{
    margin-top: 20px;
    margin-bottom: 14px;
}
.projet3 p{
    text-align: center;
    margin-bottom: 25px;
}

/*--------------- 4eme section --------------- */

.projet4 h3 {
    margin-top: 20px;
    margin-bottom: 14px;
}

.projet4 p{
    text-align: center;
    margin-bottom: 25px;
}

/*--------------- Boutton Projet --------------- */


a.btn-projet{
    background-color: #B6974D; 
     width: 143px;
    color: #fff !important;
    border-radius: 500px;
    border: 2px solid;
    border-color: #B6974D;
    padding: 10px 24px;
    margin: auto;
  }

  .btn-projet:hover{
    background-color: transparent;
    border-color: #B6974D;
    color: #B6974D!important;
  }