.projets{
    padding-right: 15px;
    padding-left: 15px;
}





.projet1, .projet2, .projet3, .projet4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c2c1c1;
    background: #2e2a29;
    border-radius: 20px;
    padding: 30px 14px;
    margin-bottom: 15px;
    border: 1px solid #eec567;
    box-shadow: 0 30px 40px 0 rgb(145 150 203 / 20%);
}

/* --------------- 1er section --------------- */



.projet1 h3{
    margin-top: 20px;
    margin-bottom: 14px;
}
.projet1 p{
    text-align: center;
    margin-bottom: 10px;
}


/*--------------- 2eme section --------------- */


.projet2 h3{
    margin-top: 20px;
    margin-bottom: 14px;
}
.projet2 p{
    text-align: center;
    margin-bottom: 10px;
}


/*--------------- 3eme section --------------- */


.projet3 h3{
    margin-top: 20px;
    margin-bottom: 14px;
}
.projet3 p{
    text-align: center;
    margin-bottom: 10px;
}

/*--------------- 4eme section --------------- */

.projet4 h3 {
    margin-top: 20px;
    margin-bottom: 14px;
}

.projet4 p{
    text-align: center;
    margin-bottom: 10px;
}