/*----------------------Tablette Responsive---------------------- */
@media only screen and (min-width: 768px) {
    .avatar {
        height: 320px;
    }

    .logo-icon {
        width: 100px;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        width: 80%;
        font-size: 40px;
        margin: 100px 0px 50px 0px;
    }

    h4 {
        width: 80%;
        font-size: 25px;
    }

    a.btn-primary {
        max-width: 190px !important;
        font-size: 20px;
        margin-top: 70px;
    }

    /*----------------------Bulles Responsive---------------------- */

    .bubble {
        margin: 0 80px 0 80px;
    }

    .bubble1 {
        margin-top: 350px;

    }

    .bubble1 img {
        width: 100px;
        height: 100px;
    }

    .bubble2 {
        margin-top: 160px;

    }

    .bubble2 img {
        width: 170px;
        height: 170px;
    }

    .bubble3 {
        margin-top: 150px;

    }

    .bubble3 img {
        width: 70px;
        height: 70px;
    }

    .navbar-nav {
        font-weight: 700;
    }

    .navbar-collapse {
        background-color: #141414;
    }

    /*----------------------Compétences Responsive---------------------- */
    .competences {
        display: flex;
        flex-wrap: wrap;
    }

    .competence1,
    .competence2,
    .competence3,
    .competence4 {
        width: 47%;
        margin-left: 14px;
    }

    /*----------------------Mes Projets Responsive---------------------- */

    .projets {
        display: flex;
        flex-wrap: wrap;
    }

    .projet1,
    .projet2,
    .projet3,
    .projet4 {
        width: 47%;
        margin-left: 14px;
    }




}

/*----------------------Nav Responsive---------------------- */
@media only screen and (min-width: 992px) {
    .container {
        min-width: 0;
    }

    .logo-icon {
        width: 80px;
    }

    .accueil {
        margin-top: 130px;
    }

    .bubble {
        margin: 0 !important;
    }

    .bubble1 {
        margin-top: 85px !important;
        margin-right: 330px !important;
        justify-content: center;
    }

    .bubble2 {
        margin-top: 250px !important;
        margin-left: 440px !important;
    }

    .bubble2 img {
        width: 81px !important;
        height: 81px !important;
    }

    .bubble3 {
        margin-top: -50px !important;
        justify-content: unset;
    }

    .bubble3 img {
        width: 150px !important;
        height: 150px !important;
    }

    h1 {
        width: 100% !important;
    }

    a.primary-small-button {
        margin-bottom: 0px;
    }

    .navbar-collapse {
        background-color: transparent;
        transition: none !important;
        flex-grow: 0;

    }

    .navbar-nav {
        align-items: center;
        justify-content: center;
    }

    #navbarNav {
        position: static;
        width: auto;
    }
}

/*----------------------Accueil Responsive---------------------- */
@media only screen and (min-width: 992px) {
    .description {
        align-items: unset;
    }

    a.btn-primary {
        max-width: 190px !important;
    }

    .avatar {
        height: 350px;
    }

    .img {
        margin-right: 30px;
    }

    .flex-column {
        flex-direction: row-reverse !important;
    }

    h1 {
        text-align: left;
    }

    h4 {
        text-align: justify;
    }

}


/*----------------------Desktop Responsive---------------------- */


@media only screen and (min-width: 1920px) {
    .accueil {
        justify-content: space-around;
    }

    .description {
        width: 47%;
        margin-left: 15px;
    }

    .img {
        margin-right: 100px;
    }




}

@media only screen and (min-width: 1600px) {
    .accueil {
        justify-content: space-between;
    }

    .container-fluid {
        font-size: 16px;
    }

    .competences {
        flex-wrap: nowrap;
    }

    .competence2,
    .competence3,
    .competence4 {
        margin-left: 30px;
    }

    .projets {
        flex-wrap: nowrap;
    }

    .projet1,
    .projet2,
    .projet3,
    .projet4 {
        margin-left: 30px;
    }

    .logo-icon {
        width: 70px;
    }

    .description h1 {
        width: 600px !important;
    }

    .img {
        margin-right: 100px;
    }

    .navbar-nav {
        margin-right: 15px;
    }

    h1 {
        font-size: 40px;
    }

    h4 {
        font-size: 20px;
    }

    .competences {
        margin-left: 0px !important;
    }

    .competence1 {
        margin-left: 0px;



    }
}
    @media only screen and (min-width: 1000px) {
        .description h1 {
            width: 600px !important;
        }

        h4 {
            width: 500px !important;
        }

        .navbar-nav {
            font-weight: 400;
        }

    }

    @media only screen and (max-width: 1000px) {
        .nav-link {
            color: #e3e3e3 !important;
        }

    }

    @media only screen and (min-width: 1400px) {

        /* .container{
        max-width: 1260px;
    } */
        .container {
            max-width: 1140px;
        }

        .competences {
            margin-left: 14px;
        }

    }