@media only screen and (min-width: 992px) {
    .container {
        min-width: 0;
    }
    .bubble{
        margin: 0!important;
    }
    .bubble1{
        margin-top: 85px!important;
        margin-right: 330px!important;
        justify-content: center;
    }
    .bubble1 img{
        width: 55px!important;
    }
    .bubble2{
        margin-top: 250px!important;
        margin-left: 440px!important;
    }
    .bubble2 img{
        width: 81px!important;
        height: 81px!important;
    }
    .bubble3{
        margin-top: -50px!important;
        justify-content:unset;
    }
    .bubble3 img{
        width: 150px!important;
        height: 150px!important;
    }
    h1{
        width: 100%!important;
    }
    a.primary-small-button {
        margin-bottom: 0px;
    }

    .navbar-collapse {
        background-color: transparent;
        transition: none !important;
        flex-grow: 0;

    }

    .navbar-nav {
        align-items: center;
        justify-content: center;
    }

    #navbarNav {
        position: static;
        width: auto;
    }
}

@media only screen and (min-width: 768px) {
    .avatar {
        width: 350px;
        height: 320px;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-fluid{
        font-size: 20px;
    }

    h1 {
        width: 80%;
        font-size: 40px;
        margin: 100px 0px 50px 0px;
    }

    h4 {
        width: 80%;
        font-size: 25px;
    }

    a.btn-primary {
        width: 30% !important;
        font-size: 20px;
        margin-top: 70px;
    }

    .bubble {
        margin: 0 80px 0 80px;
    }

    .bubble1 {
        margin-top: 350px;

    }

    .bubble1 img {
        width: 100px;
        height: 100px;
    }

    .bubble2 {
        margin-top: 160px;

    }

    .bubble2 img {
        width: 170px;
        height: 170px;
    }
    .bubble3{
        margin-top: 150px;

    }
    .bubble3 img{
        width: 70px;
        height: 70px;
    }


}

@media only screen and (min-width: 992px) {
    .description{
        align-items: unset;
    }
    a.btn-primary{
        width: 45%!important;
    }
    .avatar{
        height:350px;
    }
    .img{
        margin-right: 30px;
    }
    .flex-column{
        flex-direction: row-reverse!important;
    }
    h1{
        text-align:left;
    }
    h4{
        text-align: justify;
    }

}